@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* controla o tamanho automaticamente do padding e margin ao alterar um 
                            elemento*/
}

body{
    background-color: #FFFFE0;
    color: #6f3409;
    font-family: "Cabin", sans-serif; /*Importa a fonte definida no @import da primeira linha*/
    font-weight: 400;
}

a{
    color:#6f3409;
    text-decoration: none;
    font-weight: 500;
}

h1{
    margin: 0.3rem;
    padding: 0.3rem;
    font-size: 4rem;
}

input::placeholder{
    color:#6f3409
}

main , body{

    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    text-align: center;
}
main{
    flex: 1;
    
}
