/* Header */

.header-home {
    position: relative;
    grid-template-rows: 30px auto auto auto;

    display: grid;
    grid-column: 1 / -1;

    border: 5px solid #191718;
    border-radius: 10px;
    background-color: #6893b7;

    font-size: 1.7rem;
    padding: 0 10px 10px;
    gap: 6px;
}
.header-topbar {
  grid-row: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding: 0 10px;
  height: 35px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 5rem;

  align-items: center;
  
  
  background-color: #98b5cd;
  

}

.header-topbar a{
    display: inline-flex;
    align-items: center;
    gap:6px;
    color:#191718;
    text-decoration: none;
    height: 35px;
    
}
.header-topbar a:hover{
    background-color: #E0E5E9;
    color: #6893b7;
    
}
.header-top {
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr auto;
    align-items: start;
}

.title {
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.logo {
    
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover; /*Imagem não distorce*/
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.links-center{
    display: inline-flex;
    gap:10px;
}

.cart-link {
    position:absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size:1.4rem;
   
}
.login{
    position: absolute;
    left: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
}   

.cart-link:hover {
    color: #6893b7;
}

.header-bottom {
    text-align: center;
    grid-row: 3;
}

.search-box input {
    width: 100%;
    max-width: 400px;

    border-radius: 20px;
    padding: 10px;

    background-color: #E0E5E9;
    outline: none;
    font-size: 18px;
}

.search-box input:focus {
    background-color: #d0d3d5;
}

.header-links {
    position:relative;
    text-align: center;
    margin-bottom: 10px;
    grid-row: 4;
}

.navigation-body{
    text-align: center;
}

.navigation-body a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-right: 10;
    padding: 8px 14px;
    border: 2px solid #191718;
    border-radius: 8px;

    text-decoration: none;
    color: #191718;
}

.navigation-body a:hover {
    background-color: #E0E5E9;
    color: #6893b7;
}
