
.logo{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}
 
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px; 
}

.header-bottom{
    display: flex;
    justify-content: center; /* Centraliza a busca */
    align-items: center;
    border-top: 3px solid #BDB76B;
    padding: 3px 0 3px 0; /* padding: topo direita baixo esquerda */ 

}

.navigation-body{
    display: flex;
    gap: 35px;
    justify-content: center;
}

.search-box input{
    width: 100%;          /* A largura ocupa 100% do espaço disponível */
    max-width: 600px;    /* Limita para não ficar exageradamente grande em telas largas */
    height: 45px;        /* Aumenta a altura vertical */
    padding: 20px;     /* Espaçamento interno (nas laterais) */
    font-size: 18px;     /* Texto maior para facilitar a leitura */
    text-align: center;    /* Alinhado à esquerda é o padrão mais comum em lojas */
    
    border-radius: 25px; /* Deixa as bordas mais arredondadas e modernas */
    border: 2px solid #6f3409; 
    outline: none;      /* Remove aquele contorno azul padrão ao clicar */
    margin: 1px;   /* Centraliza horizontalmente */
    display: block;      /* Garante que o margin auto funcione */
    background-color: #edebcf;

}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 5rem;
    border-radius: 10px;
}
.title-products{
   width: fit-content;       /* Largura se ajusta ao texto */
    margin-left: auto;        /* Margem automática na esquerda */
    margin-right: auto;       /* Margem automática na direita para centralizar */
    margin-top: 4rem;         
    margin-bottom: 2rem;
    
    border: 3px solid #6f3409;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: #ebe9d6;
}
.product{
    padding: 15px;
    border: 3px solid #6f3409;
    border-radius: 30px;
}

