
body{
    background-color: #E0E5E9;
    font-family: "Cabin", sans-serif;
}


main{
    margin:5px 0px 0px 5px;
    display: flex;
    padding: 10px;
    border: 5px solid #191718;
    flex-direction: column;
    grid-column: 1 /-1;
    
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}


.products{
    margin-top: 6rem;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 20px;
    }

.title-products{
    border: 2px solid #191718;

}