/* Home */

main {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;

    margin-top: 5px;
    padding: 10px;
    border: 5px solid #191718;
    border-radius: 10px;
}

.title-products {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 1rem;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}


.products {
    margin-top: 1rem;
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
}

.product {
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product img {
    width: 100%;
    height: 15rem;

    object-fit: contain;
    object-position: center;

    display: block;
    background-color: #E0E5E9;
}


.product h3 {
    margin-top: 10px;
}

.product p {
    margin-top: 6px;
}

.contrast-image:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 25px;
    
}

aside{
   
}

.whatsapp-float{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    
}

.whatsapp{
    width: 50px;
    height: 50px;
    color: #4FCE5D;
    
}   