main{
    border: solid 1px black;
}
.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /*Necessario para ativar o center dos 2*/
    gap:50px;
    
}

.password , .email{
 width: 300px;
}

button{
    width: 300px;
}